<app-slider [nombre] = "'Blog'" 
            [size] = "'small'"></app-slider>


<div class="center">
    <section id="content">

        <article class="article-item article-detail">
            <div class="image-wrap">
                <img src="assets/images/daniela.jpg" alt="danielita">
            </div>

            <h1 class="subheader">Art&iacute;culo de prueba</h1>

            <span class="date">
                Hace 5 min
            </span>

            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci ea ipsa mollitia officia illo
                laborum eveniet nulla dolorum sit, iure deleniti fugit optio corrupti architecto suscipit. In iste
                ea dignissimos!
            </p>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit neque similique reprehenderit cum
                quis, voluptatum ut earum magnam animi aspernatur eum mollitia minus magni repudiandae. Ipsa quasi
                magnam illum distinctio!
            </p>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, modi consectetur repellendus eius
                ullam quibusdam sequi rerum illo eaque laborum porro a incidunt vero voluptatum quam quisquam quasi!
                Laudantium, perferendis.
            </p>
            <div class="clearfix"></div>
        </article>
        

    </section>

    <app-sidebar></app-sidebar>

</div>