<app-slider [nombre] = "'Películas'" [size] = "'small'"></app-slider>


<div class="center">
    <section id="content">
        <h1>Pel&iacute;culas</h1>

        <div id="favorita" *ngIf=" favorita ">
            <h2 class="subheader">
                Pelicula favorita
            </h2>
            <strong>Título : </strong><span>{{ favorita.title }}</span>
            <br>
            <strong>Año: </strong><span>{{ favorita.year }}</span>
        </div>
        <!-- 
        <h2>{{ titulo }}</h2>
        <button (click)=cambiarTitulo() >P&uacute;lsame</button>

        <hr>
        <br>

        <h3>N&uacute;mero de pel&iacute;culas</h3>
        <div *ngIf="peliculas.length > 0">
            {{ peliculas.length}} <br>
            <span *ngIf="peliculas.length > 3">Hay muchas pel&iacute;culas</span>
            
        </div>

        <hr>
        <br>
        -->

        <h2 class="subheader">Listado de peliculas</h2>
        <div id="articles" *ngIf="peliculas">

            <div *ngFor="let pelicula of peliculas; let i = index;">
                <app-pelicula [pelicula]="pelicula" [i]="i" (MarcarFavorita)="mostrarFavorita($event)"></app-pelicula>
            </div>
            
        </div>
    </section>

    <app-sidebar></app-sidebar>

</div>